.container {
    min-height: 92vh;
}

.title {
    font-size: 32px;
    background: -webkit-linear-gradient(#ed6904, #cecbcb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}